@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ITI_Tanta_Final_Project.Models.Course

@{
    ViewData["Title"] = "Course Details";
}
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <th>Instructor</th>
        <td>@Model.Instructor?.Name</td>
    </tr>
    <tr>
        <th>Sessions</th>
        <td>
            @if (Model.Sessions != null && Model.Sessions.Any())
            {
                <ul>
                    @foreach (var session in Model.Sessions)
                    {
                        <li>
                            @session.Title
                            @{
                                var time = session.StartingTime;
                            }
                            (@time.ToString(@"hh\:mm"))
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>No sessions available.</span>
            }
        </td>
    </tr>
</table>
<div class="d-flex justify-content-between mt-4">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>